*{
    box-sizing: border-box;
    border-radius:20px;
}

body{
    background-color: rgba(5, 5, 5, 0.884);
    color: white;
    font-size: 1.5em;
    max-width: 95%;
    margin: auto;
    
}
/* ENCABEZADO > NAV */
.header-container{
    background-color: rgb(219, 67, 67);
    display:flex;
    width: 100%;
    height: 6em;
    border-radius: 20px;
    margin-top: 10px;
    font-family: 'Rubik Beastly', cursive;
    -webkit-text-stroke: 1px black;
    margin:5px;
    border: 1.5px solid black;
    
}

.title-empresa{
    font-size: 2.5em;
    margin-left: 100px;
}

/* ICONOS */
.fas {
    color: rgba(0, 0, 0, 0.685);
    -webkit-text-stroke: 2px rgb(255, 244, 253);
    margin-right: 20px;
    text-shadow: 0.1em 0.1em 0.2em hsl(0, 100%, 94%)
}

.container-menu-principal{

    display: flex;
    justify-content: center;
    background-image: url(\\img/header3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 1025px;
    border-radius: 10px;
    margin:5px;
    width: 100%;
    border: 1.5px solid black;
}

.container-menu-principal > ul{
 
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.container-menu-principal > ul >li{
    margin: 10px;
    list-style: none;
}

/* FIN ENCABEZADO > NAV */

/* ENCABEZADO PRODUCTOS */

.header-productos{
    background-color: rgb(219, 67, 67);
    display:flex;
    width: 90%;
    height: 5em;
    border-radius: 60px;
    font-family: 'Rubik Beastly', cursive;
    -webkit-text-stroke: 1px black;
    justify-content: center;
    margin:20px auto 20px auto;
    border:1.5px solid black;
}

.title-productos{
    font-size: 2em;
}

/* ENCABEZADO PRODUCTOS */

/* SECTION PRODUCTOS */

section{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;   
}
.producto-1{
    background-color: rgba(255, 171, 14, 0.904);
    border: 1px solid black;
    text-align: center;
}
img.p1{
    width: 70%;
    margin: 20px;   
}

/* FIN SECTION PRODUCTOS */

/* SECTION SERVICIOS */

.servicios{
    margin:20px 30px 20px 30px;
    display:block;
}

.container-servicios{
    border:4px solid black;
    background-color: black;
    display:flex;
    padding: 30px;
    margin-bottom: 20px;
    width: 80%;
}
#servicios2{
    flex-flow: row-reverse;
    margin-left:20%;
    
}
.textos{
    text-align: center;
    background-color: black;
    margin: 30px auto;
    width:40%;
}

/* FIN SECTION SERVICIOS */

/* CONTACTO */

.contacto{
    background-color: rgba(255, 171, 14, 0.904);
    border: 1.5px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "map texto-contacto" ;
    grid-gap: 20px;
    padding: 30px;

}
.contacto-container{
 
}
.map{
grid-area: "map";

}

.texto-contacto{
 
    grid-area: "texto-contacto";
    display:flex;
    justify-content: center;
    -webkit-text-stroke: 0.2px black;
    background-color:rgb(143, 125, 68)
}

.texto-contacto > ul{
    font-size: 1.5em;
    list-style: none;
}

/* HIPERVINCULOS */

a{
    font-size: x-large;
    color: white;
    text-decoration: none;
   }

a:hover,
li>a:hover{
    font-size: 110%;
    color:rgba(0, 0, 0, 0.726);
}

/* ------------------------FOOTER------------------- */

footer{
    background-color: red;
    text-shadow: 1px 1px black;
    margin: 20px auto;
}

.footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 75px;
    grid-gap: 10px;

}

.footer-box1,
.footer-box2,
.footer-box3{
    padding: 10px;
    border: 5px solid white;
    border-radius:10;

}

.footer-box1{
    
}
.footer-box1>a{
    padding: 20px;
    display: inline;
}
    
.footer-box2>a{
    display: block;
}
.footer-box3{
    grid-column: 1/3;
    text-align: center;

}